@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  @apply bg-slate-100 font-sans antialiased text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}
